# .vscode/**
# .vscode-test/**
# src/**
# .gitignore
# .yarnrc
# vsc-extension-quickstart.md
# **/tsconfig.json
# **/.eslintrc.json
# **/*.map
# **/*.ts
# **/.vscode-test.*
# **/*.js.map
# .editorconfig

# .pnotes/**

# **/*.js.map




# Files to include in the extension package
# Documentation for this format:
# https://code.visualstudio.com/api/working-with-extensions/publishing-extension#using-.vscodeignore


!CHANGELOG.md
!LICENSE.txt
!README.md
!logo.png

!package.json
!package.nls.json
!package.nls.*.json

!dist
dist/compilation-stats.json



# !out

!assets

# Exclude everything else
**/*




